{% extends './store/index.html' %}

{% block title %} {{ super() }} Material {%endblock%}
{% block section %}
    {{macros.render_title_tech_new_material(session.get('technical_name'))}}
    <h3 class="text-center">Retirar Material</h3>

    <form action="/store/tech_withdraw_material" method="POST" class="row g-3 m-2">
        <h4>Materiales del Tecnico</h4>
        {% include 'store/parts_of_the_form/template_material_tech.html'%}
        <h4>Equipos del Tecnico</h4>
        {{macros.render_equipment_for_withdraw(session.get('technical_equipments'))}}
        <h4>Carretas del Tecnico</h4>
        {{macros.render_reel_for_withdraw(session.get('technical_reels'))}}
        <div class="col-md-12">
            <button type="submit" class="btn btn-outline-dark">Guardar</button>
        </div>
    </form>

{% endblock %}