{% extends './store/index.html' %}

{% block title %} {{ super() }} Material {%endblock%}
{% block section %}
    {{macros.render_title_tech_new_material(session.get('technical_name'))}}
    <h3 class="text-center">Asignar Material</h3>
    <form action="/store/tech_new_material" method="POST" class="row g-3 m-2">
        {% include 'store/parts_of_the_form/template_material_tech.html'%}
        {% include 'store/parts_of_the_form/template_input_cm_mac.html'%}
        {% include 'store/parts_of_the_form/template_reel.html'%}
        <div class="col-md-12">
            <button type="submit" class="btn btn-outline-dark">Guardar</button>
        </div>
    </form>
{% endblock %}