<!-- listado y cantidad de equipos en almacen -->
{% macro render_equipment(equipment)%}
    <tr>
        <th>{{ equipment.name_model.capitalize() }}</th>
        <td>{{ equipment.count }}</td>
    </tr>
{% endmacro%}

<!-- listado y cantidad de carretas -->
{% macro render_reel_count(reel)%}
    <tr>
        <th>Carretas</th>
        <td>{{reel.count}}</td>
    </tr>
{% endmacro %}

<!-- listado y cantidad de materiales -->
{% macro render_materials(materials)%}
    <tr>
        <th>Cable Hdmi</th>
        <td>{{materials.cable_hdmi}}</td>
    </tr>
    <tr>
        <th>Cable Rca</th>
        <td>{{materials.cable_rca}}</td>
    </tr>
    <tr>
        <th>Spliter de 1x2</th>
        <td>{{materials.spliter_two}}</td>
    </tr>
    <tr>
        <th>Spliter de 1x3</th>
        <td>{{materials.spliter_three}}</td>
    </tr>
    <tr>
        <th>Control Remoto</th>
        <td>{{materials.remote_control}}</td>
    </tr>
    <tr>
        <th>Conector Inrerno</th>
        <td>{{materials.connector_int}}</td>
    </tr>
    <tr>
        <th>Conector Externo</th>
        <td>{{materials.connector_ext}}</td>
    </tr>
    <tr>
        <th>Fuente de Poder</th>
        <td>{{materials.power_supply}}</td>
    </tr>
    <tr>
        <th>Q-Span</th>
        <td>{{materials.q_span}}</td>
    </tr>
    <tr>
        <th>Cable con Portante</th>
        <td>{{materials.cp_black}}</td>
    </tr>
    <tr>
        <th>Cable sin Portante</th>
        <td>{{materials.sp_black}}</td>
    </tr>
    <tr>
        <th>Cable sin Portante Blanco</th>
        <td>{{materials.sp_withe}}</td>
    </tr>
    <tr>
        <th>Antena Parabolica</th>
        <td>{{materials.satellite_dish}}</td>
    </tr>
    <tr>
        <th>LNB</th>
        <td>{{materials.lnb}}</td>
    </tr>
{% endmacro %}

<!-- opciones de tecnicos-->
{% macro render_technical(technicals)%}
{% for technical in technicals%}
    <option value="{{technical.id}}">{{technical.user_name.capitalize()}} {{technical.user_lastname.capitalize()}}</option>
{%endfor%}
{% endmacro%}

<!--agregar un titulo a las plantillas del tecnico-->
{% macro render_title_tech_new_material(technical)%}
    <h2 class="text-center">Tecnico: {{technical.user_name.capitalize()}} {{technical.user_lastname.capitalize()}}</h2>
{% endmacro%}

<!-- macros de formulario para agregar materiales al tecnico -->
{% macro render_option_equipment_tech_new_material(models)%}
{% for model in models%}
    <option value="{{model.id}}">{{model.name_model.capitalize()}}</option>
{%endfor%}
{% endmacro%}

<!-- macros de formulario retirar equipos del tecnico tecnico -->
{% macro render_equipment_for_withdraw(tech_equipments)%}
{% for equipment in tech_equipments%}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Serie de {{equipment.name_model}}</h5>
      <p class="card-text">Cm Mac: {{equipment.cm_mac}}</p>
      {% if equipment.cm_mac_two != '0'%}
      <p class="card-text">Cm Mac 2: {{equipment.cm_mac_two}}</p>
      {%endif%}
      {% if equipment.card_number != 0%}
      <p class="card-text">Tarjeta: {{equipment.card_number}}</p>
      {%endif%}
      <div class="form-check form-check-reverse">
        <input class="form-check-input" type="checkbox" name="{{equipment.cm_mac}}" value="True">
        <label class="form-check-label">Equipo Devuelto</label>
      </div>
    </div>
</div>
{%endfor%}
{% endmacro%}

<!-- macros de formulario retirar carretas del tecnico -->
{% macro render_reel_for_withdraw(reels) %}
{% for reel in reels%}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Serie de la Carreta</h5>
      <p class="card-text">{{reel.serial}}</p>
      <div class="form-check form-check-reverse">
        <input class="form-check-input" type="checkbox" name="{{reel.serial}}" value="True">
        <label class="form-check-label">Carreta Devuelta</label>
      </div>
    </div>
</div>
{%endfor%}
{% endmacro%}

<!-- formulario para agregar equipos con sus series -->
{% macro render_form_equipment(equipments) %}
{% for equipment in equipments%}
<option value="{{equipment.id}}">{{equipment.name_model}}</option>
{%endfor%}
{% endmacro%}

<!-- listado de equipos -->
{% macro render_list_equipment(equipments) %}
{% for equipment in equipments%}
    <tr>
    {% if not equipment.created_in %}
        <th>{{equipment.name_model.capitalize()}}</th>
    {% endif %}
        <td>{{equipment.cm_mac}}</td>
    {% if not equipment.cm_mac_two or equipment.cm_mac_two == '0' %}
        <td>S/N</td>
    {% else %}
        <td>{{equipment.cm_mac_two}}</td>
    {% endif %}
    {% if not equipment.card_number %}
        <td>S/N</td>
    {% else %}
        <td>{{equipment.card_number}}</td>
    {% endif %}
    {% if equipment.created_in %}
        <td>{{equipment.created_in}}</td>
    {% endif %}
    </tr>
{%endfor%}
{% endmacro%}

{% macro render_list_equipment_invoice(equipments) %}
{% for equipment in equipments%}
    <tr>
    {% if not equipment.created_in %}
        <th>{{equipment.name_model.capitalize()}}</th>
    {% endif %}
        <td>{{equipment.cm_mac}}</td>
    {% if not equipment.cm_mac_two or equipment.cm_mac_two == '0' %}
        <td>S/N</td>
    {% else %}
        <td>{{equipment.cm_mac_two}}</td>
    {% endif %}
    {% if not equipment.card_number %}
        <td>S/N</td>
    {% else %}
        <td>{{equipment.card_number}}</td>
    {% endif %}
    {% if equipment.tech_id %}
        <td>{{equipment.tech_id}}</td>
    {% endif %}
    {% if equipment.created_in %}
        <td>{{equipment.created_in}}</td>
    {% endif %}
    </tr>
{%endfor%}
{% endmacro%}

<!-- listado de carretas -->
{% macro render_list_reel(reels) %}
{% for reel in reels %}
    <tr>
        <th>Serie</th>
        <td>{{reel.serial}}</td>
    </tr>
{%endfor%}
{% endmacro%}