{% extends './store/index.html' %}

{% block title %} {{ super() }} Nuevos equipos {%endblock%}
{% block section %}
    <h1>Equipos para almacen</h1>
    <form action="/store/new_serial" method="POST" class="row g-3">
        <div class="form-floating">
            <textarea name="cm_mac" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <label for="exampleFormControlTextarea1" class="form-label">Ingrese CM_MAC</label>
        </div>
        <div class="form-floating">
            <textarea name="cm_two" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <label for="exampleFormControlTextarea1" class="form-label">Ingrese CM_MAC_SECUNDARIO</label>
        </div>
        <div class="form-floating">
            <textarea name="card" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <label for="exampleFormControlTextarea1" class="form-label">Ingrese TARJETA</label>
        </div>
        <div class="form-floating col-6">
            <select name="name_equipment" class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Selecciona Equipo</option>
              <!-- listar los nombres de los equipos -->
              {{macros.render_form_equipment(equipments)}}
            </select>
            <label for="floatingSelect">Equipo Activos</label>
          </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-outline-dark btn-lg">Guardar</button>
        </div>
    </form>
{% endblock %}