{% extends './store/index.html' %}

{% block title %} {{ super() }} Nuevos equipos {%endblock%}
{% block section %}
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">Materiales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active"  href="#">Equipos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
    </li>
    </ul>    

    <h1>Equipos para almacen</h1>
    <form action="/store/new_serial" method="POST" class="row g-3">
        {{macros.render_form_equipment(equipments)}}
        <div class="col-md-6">
            <button type="submit" class="btn btn-outline-dark">Guardar</button>
        </div>
    </form>
{% endblock %}