<div class="form-floating col-md-4">
    <input type="number" name="cable_hdmi" class="form-control" id="inputHdmi" >
    <label for="inputHdmi" class="form-label">Hdmi</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="cable_rca" class="form-control" id="inputRca">
    <label for="inputRca" class="form-label">Rca</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="spliter_two" class="form-control" id="inputSpliter2">
    <label for="inputSpliter2" class="form-label">Spliter 2</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="spliter_three" class="form-control" id="inputSpliter3">
    <label for="inputSpliter3" class="form-label">Spliter 3</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="remote_control" class="form-control" id="inputConrtol">
    <label for="inputConrtol" class="form-label">Conrtol remoto</label>
</div>
<div class="form-floating form-floating col-md-4">
    <input type="number" name="connector_int" class="form-control" id="inputConectorI">
    <label for="inputConectorI" class="form-label">Conector int</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="connector_ext" class="form-control" id="inputConectorE">
    <label for="inputConectorE" class="form-label">Conector ext</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="power_supply" class="form-control" id="inputFuente">
    <label for="inputFuente" class="form-label">Fuente de poder</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="q_span" class="form-control" id="inputQ-pan">
    <label for="inputQ-pan" class="form-label">Q-pan</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="cp_black" class="form-control" id="inputCableCp">
    <label for="inputCableCp" class="form-label">Cable C/P negro</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="sp_black" class="form-control" id="inputCableSp">
    <label for="inputCableSp" class="form-label">Cable S/P negro</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="sp_withe" class="form-control" id="inputCableSpB">
    <label for="inputCableSpb" class="form-label">Cable S/P blanco</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="satellite_dish" class="form-control" id="inputAntena">
    <label for="inputAntena" class="form-label">Antena satelital</label>
</div>
<div class="form-floating col-md-4">
    <input type="number" name="lnb" class="form-control" id="inputLNB">
    <label for="inputLNB" class="form-label">LNB</label>
</div>