{% extends './store/index.html' %}

{% block title %} {{ super() }} Nuevo Material {%endblock%}
{% block section %}
    <h1>Ingrese material para almacen</h1>
    <form action="/store/new_material" method="POST" class="row g-3">
        <div class="form-floating col-md-4">
            <input type="number" name="cable_hdmi" class="form-control" id="inputCity" >
            <label for="inputCity" class="form-label">Hdmi</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="cable_rca" class="form-control" id="inputCity">
            <label for="inputCity" class="form-label">Rca</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="spliter_two" class="form-control" id="inputCity">
            <label for="inputCity" class="form-label">Spliter 2</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="spliter_three" class="form-control" id="inputCity">
            <label for="inputCity" class="form-label">Spliter 3</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="remote_control" class="form-control" id="inputZip">
            <label for="inputZip" class="form-label">Conrtol remoto</label>
        </div>
        <div class="form-floating form-floating col-md-4">
            <input type="number" name="connector_int" class="form-control" id="inputCity">
            <label for="inputState" class="form-label">Conector int</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="connector_ext" class="form-control" id="inputCity">
            <label for="inputState" class="form-label">Conector ext</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="power_supply" class="form-control" id="inputCity">
            <label for="inputState" class="form-label">Fuente de poder</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="q_span" class="form-control" id="inputCity">
            <label for="inputState" class="form-label">Q-pan</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="cp_black" class="form-control" id="inputZip">
            <label for="inputZip" class="form-label">Cable C/P negro</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="sp_black" class="form-control" id="inputZip">
            <label for="inputZip" class="form-label">Cable S/P negro</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="sp_withe" class="form-control" id="inputZip">
            <label for="inputZip" class="form-label">Cable S/P blanco</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="satellite_dish" class="form-control" id="inputCity">
            <label for="inputCity" class="form-label">Antena satelital</label>
        </div>
        <div class="form-floating col-md-4">
            <input type="number" name="lnb" class="form-control" id="inputCity">
            <label for="inputState" class="form-label">LNB</label>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-outline-dark">Guardar</button>
        </div>
    </form>
{% endblock %}