<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="images/png" href="{{url_for('static', filename='images/app/icon.png')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}} ">
    <title>{%block title%}APP |{%endblock%}</title>
</head>
<body>
  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
    <div class="alert alert-light alert-dismissible" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  {% block header%}  {% include 'header.html' %}  {%endblock%}
  {%block body%}  {%endblock%}
  {% include 'footer.html' %}
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>