<footer class="text-center text-lg-start bg-light text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <div>
                <a href="https://www.facebook.com/l0k0.joe" target="_blank" class="me-4 text-reset">fb
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/Loko_Joe1" target="_blank" class="me-4 text-reset">tw
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/loko.joe1" target="_blank" class="me-4 text-reset">is
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/joel-jorge-flores-fernandez-5abba81b5" target="_blank" class="me-4 text-reset">lk
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="" target="_blank" class="me-4 text-reset"> gh
                  <i class="fab fa-github"></i>
                </a>
            </div>
        </section>
        <section class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
            &#169: 2022 Copyright:
            <a class="text-reset fw-bold" href="#">Joel Flores</a>
        </section>
        <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom"">
            <div class="me-4 d-none d-lg-block">
                <span>Inspirations:</span>
            </div>
            <div>
                <a href="https://www.youtube.com/c/Platzi" target="_blank" class="me-4 text-reset">Platzi</a>
                <a href="https://www.youtube.com/c/HolaMundoDev" class="me-4 text-reset">Hola_Mundo</a>
                <a href="https://www.youtube.com/c/soydalto" target="_blank" class="me-4 text-reset">Soy_Dalto</a>
            </div>
            
        </section>
    </footer>