<h3 class="p-2 m-2">Materiales Al Tecnico</h3>
<form class="p-2 m-2" action="/store/check_function" method="POST">
    <div class="row">
      <div class="col-6">
        {% include 'store/parts_of_the_form/template_list_tech.html'%}
      </div>
      <div class="col-6">
        <div class="form-floating col-md-12">
          <select name="type_function" class="form-select" id="floatingSelect">
            <option selected>Selecciona Accion</option>
            <!-- listar que se le va asignar al tecnico -->
            <option value="1">Asignar Materiales</option>
            <option value="2">Retirar Materiales</option>
            <option value="3">Ver Materiales, Equipos y Carretas</option>
            <option value="4">Revisar Ordenes</option>
          </select>
          <label for="floatingSelect">Acciones permitidas</label>
        </div>
      </div>
      <div class="form-floating col p-2 m-2">
        <button type="submit" class="btn btn-outline-dark btn-lg">Seleccionar</button>
      </div>
    </div>
</form>